* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

/* Navbar CSS */

.navbar {
  padding: 20px 0 0;
  width: 100%;
}
.navbar .top-nav {
  width: 100%;
  padding: 0 5.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .top-nav .btns {
  display: flex;
  gap: 10px;
}
.navbar .top-nav .btns button {
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
}
.navbar .top-nav .btns .btn-hover {
  background-color: rgba(43, 42, 111, 1);
  color: #fff;
  border: 0;
}
.navbar .top-nav .btns .btn-unhover {
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(43, 42, 111, 1);
}
.navbar .nav {
  margin-top: 15px;
  width: 100%;
  height: 70px;
  background: rgba(43, 42, 111, 1);
  padding: 0 5.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar .nav ul {
  display: flex;
}
.navbar .nav ul li {
  padding: 0 20px;
}
.navbar .nav ul li a {
  font-size: 18px;
  color: #fff;
}
.navbar .nav ul li select {
  font-size: 18px;
  color: #fff;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.navbar .nav ul li select option {
  color: rgba(43, 42, 111, 1);
}
.navbar .nav ul .with-hover {
  position: relative;
}
.navbar .nav ul li .with-hover:hover {
  color: rgba(251, 206, 44, 1);
  transition: 0.3s;
}
.navbar .nav ul .with-hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: rgba(251, 206, 44, 1);
}
.navbar .nav ul .with-hover:hover::after {
  width: 35px;
  transition: 0.3s;
}
.navbar .nav .search img {
  cursor: pointer;
}
.humburger {
  display: none;
  cursor: pointer;
}
.humburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  transition: 0.4s;
}
.search-bar {
  display: none;
  position: absolute;
  bottom: -82px;
  padding: 25px 5.5%;
  width: 100%;
  left: 0;
  background: rgba(251, 206, 44, 1);
  z-index: 100;
}
.search-bar.active {
  display: block;
}
.search-bar .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.search-bar .wrapper::after {
  content: "";
  position: absolute;
  width: 97%;
  bottom: -10px;
  height: 2px;
  background: #000;
}
.search-bar img {
  cursor: pointer;
}
.search-bar input {
  font-size: 32px;
  width: 88%;
  background: transparent;
  border: 0;
  padding: 0 10px;
}
@media (max-width: 800px) {
  .navbar .nav ul li {
    padding: 0 12px;
  }
}
@media (max-width: 700px) {
  .humburger {
    display: block;
  }
  .humburger.active span:nth-child(2) {
    opacity: 0;
  }
  .humburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .humburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .nav .links {
    position: absolute;
    text-align: center;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 69px;
  }
  .navbar .nav .links ul {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background: rgba(43, 42, 111, 1);
    transition: 0.2s;
  }
  .navbar .nav .links.active ul {
    height: 80vh;
  }
  .navbar .nav .links ul li {
    margin: 20px 0;
  }
}
@media (max-width: 630px) {
  .navbar .top-nav .btns button {
    padding: 10px 20px;
  }
}
@media (max-width: 540px) {
  .navbar .top-nav .logo {
    width: 40%;
  }
  .navbar .top-nav .btns button {
    padding: 7px 15px;
  }
}
@media (max-width: 370px) {
  .navbar .top-nav .logo {
    width: 38%;
  }
  .navbar .top-nav .btns button {
    padding: 5px 10px;
  }
}
@media (max-width: 540px) {
  .navbar .nav .links {
    position: absolute;
    text-align: center;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 69px;
  }
}
